/* Over-rides and general styling */
body, header, footer, nav, article, section, div {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

img {
  max-width: 100%; }

header {
  width: 80%;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  text-transform: uppercase; }
  header h1 {
    margin: 0; }

nav #menu {
  width: 100px;
  padding: 5px;
  border: 2px solid #00c0fd;
  background: #fff;
  color: #00c0fd;
  text-align: center; }
nav .menu-list {
  padding: 0;
  margin: 5px 0 0 0;
  list-style-type: none; }
  nav .menu-list li {
    display: block;
    text-align: center; }
nav a {
  position: relative;
  color: #00c0fd;
  text-decoration: none; }
  nav a::after, nav a:focus::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00c0fd;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  nav a:hover::after, nav a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left; }

main {
  max-width: 1240px;
  margin: 0 auto; }

.carousel {
  margin-bottom: 75px; }
  .carousel .cell {
    width: 50%;
    margin: 0 7px; }
  .carousel .flickity-page-dots {
    width: 70%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
    .carousel .flickity-page-dots::before {
      width: 100%;
      content: "";
      height: 2px;
      background: #767676;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      z-index: -1; }
    .carousel .flickity-page-dots .dot {
      margin: unset;
      border: 2px solid #767676;
      background: #fff;
      opacity: 1; }
      .carousel .flickity-page-dots .dot.is-selected {
        background: #f74d62;
        border: 2px solid #f74d62; }

.accordion-container {
  width: 80%;
  max-width: 950px;
  margin: 0 auto; }

.acc-box {
  padding: 3px 20px 5px;
  border-radius: 25px;
  margin: 10px auto;
  background: #feeff0; }

.accordion {
  width: 100%;
  padding: 18px 25px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: #feeff0;
  position: relative;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  transition: all 0.4s ease; }
  .accordion:before, .accordion:after {
    content: "";
    width: 4px;
    height: 16px;
    margin-left: 2px;
    margin-top: 8px;
    display: block;
    background: black;
    position: absolute;
    left: 0;
    top: 21%;
    transform: rotate(90deg);
    transition: all 0.3s ease; }

.active.accordion:after {
  transform: rotate(0deg); }

.panel {
  padding: 0 18px;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

/* .active {

} */
.form-container {
  width: 80%;
  max-width: 950px;
  margin: 0 auto 25px; }
  .form-container form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .form-container form *:invalid {
      box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5); }
    .form-container form .form-area {
      width: 45%;
      margin: 10px 0;
      display: flex;
      flex-direction: column; }
      .form-container form .form-area.wide {
        width: 100%; }
    .form-container form input,
    .form-container form textarea {
      padding: 10px 15px;
      border: none;
      border-radius: 25px; }
    .form-container form input:not(.form-btn),
    .form-container form textarea {
      background: #f3f3f3; }
  .form-container .form-btn {
    background: #00c0fd;
    color: #fff; }

.extra-bits {
  margin: 0 auto;
  display: flex; }
  .extra-bits .left,
  .extra-bits .right {
    max-width: 699px;
    margin: 0 auto;
    position: relative; }
  .extra-bits .content {
    width: 42%;
    max-width: 205px;
    height: 80%;
    position: absolute;
    top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .extra-bits .left .content {
    right: 25px; }
  .extra-bits .right .content {
    color: #fff;
    left: 25px; }
  .extra-bits .left p {
    text-align: right; }
  .extra-bits .right p {
    text-align: left; }
  .extra-bits span {
    display: block;
    font-size: 32px;
    text-transform: uppercase; }
  .extra-bits .left .content button {
    align-self: flex-end; }
  .extra-bits .right .content button {
    border-color: #fff;
    color: #fff; }
  .extra-bits .content button {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    background: none; }

.shop {
  width: 100%;
  padding: 50px 0; }
  .shop form {
    display: flex; }
  .shop .left,
  .shop .right {
    width: 50%; }
  .shop .left {
    position: relative; }
    .shop .left div.color-show {
      width: 50%;
      position: absolute;
      background: #00d3ca;
      z-index: -1;
      padding-bottom: 65%;
      top: 1%;
      left: 5%; }
    .shop .left img {
      margin: 0 auto;
      display: block;
      width: 50%;
      position: absolute;
      top: 7%;
      left: 12%; }
    .shop .left .color-select {
      position: absolute;
      top: 0;
      right: 0; }
      .shop .left .color-select div {
        float: right; }
        .shop .left .color-select div::after {
          content: "";
          display: block;
          clear: both; }
      .shop .left .color-select button {
        width: 50px;
        height: 50px;
        border: none;
        margin-bottom: 5px;
        display: block; }
        .shop .left .color-select button:focus {
          border: 2px solid #777; }
      .shop .left .color-select .aqua {
        background: #00d3ca; }
      .shop .left .color-select .yellow {
        background: #f2ec41; }
      .shop .left .color-select .red {
        background: #f74c62; }
  .shop .right {
    display: flex;
    justify-content: center;
    align-items: center; }
    .shop .right .container {
      width: 80%; }
      .shop .right .container h3 {
        font-size: 24px; }
      .shop .right .container p:first-of-type {
        text-transform: uppercase; }
        .shop .right .container p:first-of-type span {
          font-weight: 600;
          text-decoration: underline; }
      .shop .right .container p:last-of-type span {
        text-decoration: underline; }
    .shop .right input[type="number"],
    .shop .right #reduce,
    .shop .right #increase {
      width: 40px;
      height: 40px;
      border: 1px solid #999;
      background: none; }
    .shop .right input[type="number"] {
      height: 36px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      text-align: center; }
    .shop .right input[type=number]::-webkit-inner-spin-button,
    .shop .right input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none; }
    .shop .right input[type="submit"] {
      height: 40px;
      border: none;
      background: #f74c62;
      color: #fff; }

footer {
  width: 100%;
  background: #3b3d40;
  color: #bababa; }
  footer .container {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
  footer div p span {
    display: block; }
  footer .extras a {
    margin: 0 5px;
    color: #cecece; }

@media all and (min-width: 580px) {
  footer .extras {
    text-align: right; }
    footer .extras .container {
      padding: 20px 35px 0;
      align-items: last baseline; } }
@media all and (min-width: 768px) {
  nav {
    margin-left: auto; }
    nav #menu {
      display: none; }
    nav .menu-list li {
      margin: 0 5px;
      display: inline-block; }
      nav .menu-list li:last-child {
        padding: 7px 17px;
        border-radius: 24px;
        background: #00c0fd; }
      nav .menu-list li:last-child a {
        color: #fff; } }
@media all and (min-width: 868px) {
  #select-item {
    min-height: 500px; } }
@media all and (min-width: 768px) and (max-width: 800px) {
  .extra-bits p {
    font-size: 14px; } }
@media all and (max-width: 400px) {
  .extra-bits p {
    font-size: 3.7vw; } }
@media all and (max-width: 580px) {
  footer .container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column; } }
@media all and (max-width: 638px) {
  .shop .left div.color-show {
    top: 20%; } }
@media all and (max-width: 767px) {
  header {
    flex-direction: column; }

  .menu-list {
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
    .menu-list li {
      width: 100px; }

  .extra-bits {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
